.main {
  display: inline-block;
  padding: 15px;
  width: 300px;
  height: 800px;
  vertical-align: top;
}

.canvas {
  display: inline-block;
  width: 800px;
}

.content {
  margin:auto;
  height: 800px;
  padding:20px;
}

.score-container {
  display: inline-block;
  padding: 15px;
  width: 300;
  height: 800px;
  vertical-align: top;
}

.submit-field {
  display: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}
